.coupons {
    .button {
        padding: 10px 20px;
        width: auto;
        height: auto;
        color: $black;
    }
    .table {
        .button {
            border-radius: 10px;
            margin: 0 5px;
            padding: 0px 0.25rem;
            width: auto;
            height: auto;
            color: $black;
            &:hover {
                opacity: .5;
            }
        }
        i {
            color: $tohoh;
        }
    }
    .form {
        width: 100%;
    }
    .reverse {
        transform: rotate(180deg);
    }
}