.coupons {
    .button {
        padding: 10px 20px;
    }
    .table {
        .button {
            border-radius: 10px;
            margin: 0 5px;
            padding: 0px 0.25rem;
        }
    }
    .form {
        width: 100%;
    }
    .reverse {
        transform: rotate(180deg);
    }
}