.orders {
    .reverse {
        transform: rotate(180deg);
    }
    .table {
        .button {
            border-radius: 10px;
            margin: 0 5px;
            padding: 0px 0.25rem;
        }
    }
}