
.article  {
  &-bg {
    height: 650px;
    display: flex;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-image: url(assets/images/article/article.jpg);
      @include media-breakpoint-down(sm) {
      height: 50vh;
    }
    h2 {
      font-size: $font-size-base * 3.5;
      text-transform: uppercase;
      @include media-breakpoint-down(sm) {
        font-size: $font-size-base * 2;
      }
    }
  }
}
.delay {
  &-2 {
    transition-delay: .3s;
    @include media-breakpoint-down(xs) {
      transition-delay: 0s;
    }
  }&-3 {
    transition-delay: .6s;
    @include media-breakpoint-down(md) {
      transition-delay: 0s;
    }
  }
  &-4 {
    transition-delay: 0s;
    @include media-breakpoint-down(md) {
      transition-delay: .3s;
    }
    @include media-breakpoint-down(xs) {
      transition-delay: 0s;
    }
  }&-5 {
    transition-delay: .3s;
    @include media-breakpoint-down(md) {
      transition-delay: 0s;
    }
  }
  &-6 {
    transition-delay: .6s;
    @include media-breakpoint-down(md) {
      transition-delay: .3s;
    }
    @include media-breakpoint-down(xs) {
      transition-delay: 0s;
    }
  }
}