


.stroke {
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black;
}

.underline {
  transition: transform 3s;
  padding-bottom: 3px;
  position: relative;
  @include media-breakpoint-down(md) {
    padding-bottom: 2px;
    border-bottom: 1px solid white;
  }
  &::after {
    position: absolute;
    content: "";
    width: 0%;
    left: 0;
    bottom: 0;
    border-bottom: $border-width * 2 solid $black;
    transition: width .5s, border 2s;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.wrap {
  height: 100%;
  overflow: hidden;
  @include media-breakpoint-down(md) { 
    padding: 1rem 0;
  }
  &:hover {
    .underline::after {
      width: 100%;
      transition: width 1s;
    }
  }
  &-shadow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: radial-gradient(rgba($white, 0.5), rgba($white, 0.6));
    opacity: 0;
    transition: all .5s;
    @include media-breakpoint-down(md) {
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 10%;
      font-weight: bold;
      letter-spacing: 1px;
      background: none;
      opacity: 1;
    }
    &:hover {
      opacity: 1;
      z-index: 1;
    }
  }
}

.home {
  a {
    display: block;
  }
}

.carousel {
  &-img {
    padding: 10%;
    height: 100%;
    display: flex !important;
    align-items: center;
    background-size: cover;
    background-position: center;
    @include media-breakpoint-down(md) {
      align-items: flex-end;
      padding-bottom: 40%;
    }
    &-1 {
      justify-content: flex-end;
      background-image: url(assets/images/home/carousel-1.jpg);
      @include media-breakpoint-down(md) {
        justify-content: center;
      }
    }
    &-2 {
      background-image: url(assets/images/home/carousel-2.jpg);
      @include media-breakpoint-down(md) {
        justify-content: center;
      }
    }
    &-3 {
      justify-content: flex-end;
      background-image: url(assets/images/home/carousel-3.jpg);  
      @include media-breakpoint-down(md) {
        align-content: center;  
        justify-content: center;
      }
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 3px;
    text-align: center;
    h3 {
      font-size: $font-size-base * 3;
      @include media-breakpoint-down(lg) {
        font-size: $font-size-base * 2;
      }
    }
  }
  &-button {
    position: relative;
    width: 200px;
    height: 100%;
    padding: 20px;
    transition: all 0.3s;
    color: black;
    font-size: $font-size-base * 1.5;
    @include media-breakpoint-down(md) {
      width: 150px;
      height: 100%;
      font-size: $font-size-base * 1.2;
    }
    &::before {
      content: '';
      position: absolute;
      width: inherit;
      height: inherit;
      top: 0;
      left: 0;
      transition: all 0.3s;
      background-color: white;
      z-index: -1;
      box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);    
    }
    &::after {
      content: '';
      position: absolute;
      width: inherit;
      height: inherit;
      top: 0;
      left: 0;
      transition: all 0.3s;
      background-color: goldenrod;
      transform: translate(15px, 15px);
      z-index: -2;
    }
    &:hover {
      transform: translate(15px, 15px);
      color: white;
      &::before {
        background-color: goldenrod;
      }
      &::after {
        background-color: white;
        transform: translate(-15px, -15px);
      }
    }
  }
  .carousel-control-prev {
    @include media-breakpoint-down(sm) { 
      left: 3%;
    }
    @include media-breakpoint-down(sm) { 
      left: 0%;
    }
  }
  .carousel-control-next {
    @include media-breakpoint-down(sm) { 
      right: 3%;
    }
  }
}

.recommend {
    height: 70vh;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    @include media-breakpoint-down(md) { 
      height: 100vh;
      padding-bottom: 2rem;
    }
    @include media-breakpoint-down(xs) {
      padding-bottom: 1rem;
    }
    .row {
      height: 100%;
      padding: 1.5rem 0;
    }
    &-img {
        background-position: center center;
        background-size: cover;
        transition: all 3s;
        height: 100%;
        &:hover {
          transform: scale(1.1);
          @include media-breakpoint-down(md) {
            transform: none;
          }
        }
      &-1 {
        background-image: url(assets/images/home/recommend-1.jpg);
      }
      &-2 {
        background-image: url(assets/images/home/recommend-2.jpg);
      }
      &-3 {
        background-image: url(assets/images/home/recommend-3.jpg);
      }
    }
}

.saleInfo {
  position: relative;
  height:30vh;
  background-color: #2f3133;
  @include media-breakpoint-down(md) {
    height: 20vh;
  }
  &-img {
    width: 55%;
    height: 100%;
    background-size: cover;
    background-position: center;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
    &-1 {
      margin-left: auto;
      background-image: url(assets/images/home/sale-1.jpg);
    }
    &-2 {
      margin-right: auto;
      background-image: url(assets/images/home/sale-2.jpg);
    }
  }

  &-content {
    top:50%;
    width: 45%;
    padding: 20px;
    z-index: 1;
    transform: translateY(-50%);
    background-color: #484a4d;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include media-breakpoint-down(md) {
      width: 100%;
      background-color: transparent;
        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            filter: blur(1px);
            background-color: rgba(72, 74, 77, 0.65)
        }
    }
    &-left {
      left:5%;
      @include media-breakpoint-down(md) {
        left:0;
      }
    }
    &-right{
      right:5%;
      @include media-breakpoint-down(md) {
        right:0;
      }
    }
  }
}

.featured {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  &-img {
    background-position: center center;
    background-size: cover;
    height: 100%;
  }
  &-content {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: $black;
    @include media-breakpoint-down(md) {
      flex-direction: column;
      color: #fff;
      text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
      0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
      0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
      0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
      0 0 4px black;
      padding: 10px;
      color: #fff;
      background-color: transparent;
      position: relative;
      height: auto;
      width: 100%;
      z-index: 1;
      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background-color: rgba(0,0, 0, .3);
      }
    }
    .h5 {
      @include media-breakpoint-down(md) {
        font-size: $font-size-base;
      }
    }
    .h4 {
      @include media-breakpoint-down(md) {
        font-size: $font-size-base * 1.25;
      }
    }
  }
  &-text {
    width: 100%;
    margin-top: 50%;
    @include media-breakpoint-down(md) {
      margin-top: auto;
    }
  }
}

.category {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  height: 100vh;
  @include media-breakpoint-down(md) {
    padding-bottom: 2rem;
  }
  @include media-breakpoint-down(xs) {
    padding-bottom: 1rem;
  }
  .row {
    height: 100%;
  }
  &-wrap {
    &-h65{
      height:65%;
      @include media-breakpoint-down(sm) {
        height: auto;
      }
    }
    &-h35 {
      height:35%;
      @include media-breakpoint-down(sm) {
        height: auto;
      }
    }
  }
  &-img {
    position: relative;
    background-size: cover;
    background-position: center center;
    height: 100%;
    color: $black;
    font-size: $font-size-base * 2;
    transition: transform 3s;
    @include media-breakpoint-down(md) {
      color: $white;
    }
    @include media-breakpoint-down(xs) {
      font-size: $font-size-lg;
    }
    &:hover {
      transform: scale(1.1);
      @include media-breakpoint-down(md) {
        transform: none;
      }
    }
    &-tops {
      background-image: url(assets/images/home/photo-top.jpg);
    }
    &-coat {
      background-image: url(assets/images/home/photo-coat.jpg);
    }
    &-shoes {
      background-image: url(assets/images/home/photo-shoes.jpg);
    }
    &-bottoms {
      background-image: url(assets/images/home/photo-bottoms.jpg);
    }
    &-accessories {
      background-image: url(assets/images/home/photo-accessories.jpg);
    }
    &-suit {
      background-image: url(assets/images/home/photo-suit.jpg);
    }
  }
}

.theme {
  display: flex;
  flex-direction: column;
  height: 60vh;
  padding-bottom: $spacer * 3;
  @include media-breakpoint-down(lg) {
    height: 65vh;
    padding-bottom: 0;
  }
  @include media-breakpoint-down(md) {
    height: 90vh;
  }
  @include media-breakpoint-down(xs) {
    height: 160vh;
  }
  .row {
    height: 100%;
    padding: $spacer *1.5 0;
    @include media-breakpoint-down(md) {
      justify-content: center;
    }
  }
  &-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    @include media-breakpoint-down(md) {
      padding-bottom: $spacer * 2;
    }
    &:hover {
      .underline::after {
        width: 100%;
        border-color: white;
        transition: width 1s;
      }
    }
  }
  &-content {
    display: flex;
    flex-wrap: wrap;
    @include media-breakpoint-down(md) {
      align-items: center;
      justify-content: flex-end;
    }
  }
  &-img {
    background-position: center center;
    background-size: cover;
    transition: all 3s;
    height: 100%;
    width: 100%;
    &:hover {
      transform: scale(1.1);
      @include media-breakpoint-down(md) {
        transform: none;
      }
    }
    &-1 {
      background-image: url(assets/images/article/article-2.jpg);
    }
    &-2 {
      background-image: url(assets/images/article/article-3.jpg);
    }
    &-3 {
      background-image: url(assets/images/article/article-5.jpg);
    }
  }
  &-text {
    display: -webkit-box;
    height: $font-size-base * 1.5 * 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 1rem;
    @include media-breakpoint-down(lg) {
      height: $font-size-base * 1.5 * 2;
      -webkit-line-clamp: 2;

    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0
}