
.order{
  .row {
    @include media-breakpoint-down(sm) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }
}

.orderer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: $spacer * 2 5%;
  @include media-breakpoint-down(md) {
    padding: $spacer * 2 2%;
  }
  @include media-breakpoint-down(sm) {
    width: 90%;
  }
  .delivery {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    &-option {
      display: flex;
      justify-content: space-around;
      .button {
        padding: 0;
        width: 140px;
        height: 42px;
        @include media-breakpoint-down(md) {
          font-size: $font-size-base * .8;
        }
      }
    }
    &-select {
      display: flex;
      position: absolute;
      justify-content: center;
      top: 50%;
      left: 0;
      right: 0;
      .button {
        padding: 0;
        width: 140px;
        height: 42px;
      }
    }
  }
  .hide {
    opacity: 0;
    visibility: hidden;
    transition:  all .3s;
  }
  .visible {
    opacity: 1;
    visibility: visible;
    transition: all .3s;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include media-breakpoint-down(sm) {
      justify-content: space-around;
    }
  }
  .form-control {
    height: auto;
    padding: 0 0.75rem;
    background-color: $main-bg;
  }
  .form-height {
    min-height: 417px;
    @include media-breakpoint-down(sm) {
      min-height: 347px;
    }
  }
}

.cart {
  padding: $spacer * 2 5%;
  border-left: 1px solid $black;
  @include media-breakpoint-down(md) {
    padding: $spacer * 2 0;
  }
  @include media-breakpoint-down(sm) {
    width: 90%;
    border: none;
  }
  .table {
    &-overflow {
      margin-bottom: $spacer * 2.5;
      overflow: auto;
      height: 60vh;
      @include media-breakpoint-down(md) {
        height: 40vh;
      }
    }
  }
  img {
    max-width: 180px;
    width: 100%;
    @include media-breakpoint-down(md) {
      max-width: 120px;
    }
  }
  form {
    width: auto;
    display: flex;
    justify-content: center;
    margin: $spacer * 2 auto;
    .form-control {
      width: auto;
      border-color: $rikyunezumi;
      color: white;
      border-radius: 0.25rem 0 0 0.25rem ;
      border-right: none;
      transition: all 0.3s;
      &::placeholder {
        color: $label-color;
      }
      &:focus-within {
        border-color: $label-border-color;
        + .btn {
          border-color: $label-border-color;
        }
        &::placeholder {
          color: $white;
        }
      }
      &:hover {
        &::placeholder {
          color: $white;
        }
      }
    }
    .btn {
      color: $label-color;
      border-color: $rikyunezumi;
      border-radius: 0 0.25rem 0.25rem 0;
      &:hover {
          color: $white;
      }
    }
  }
  &-animate {
    animation: flash 4s infinite;
  }
  @keyframes flash {
    0% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    85% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
}

.empty {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
