
.order{
  .row {
    padding: $spacer * 2;
    @include media-breakpoint-down(md) {
      padding: $spacer * 3;
    }
    @include media-breakpoint-down(xs) {
      padding: 0;
    }
    @include media-breakpoint-down(sm) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }
}

.receiver {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 5%;
  @include media-breakpoint-down(md) {
    padding: $spacer * 2 $spacer * 3;
  }
  @include media-breakpoint-down(xs) {
    padding: $spacer * 1.5 0 $spacer;
  }
  .delivery {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    &-option {
      display: flex;
      justify-content: space-around;
      &-active {
        border: 2px solid $momoshiocha;
      }
      .button {
        padding: 0;
        width: 140px;
        height: 42px;
        border-radius: 10px;
        @include media-breakpoint-down(md) {
          font-size: $font-size-base * .8;
        }
      }
    }
  }

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .form-control {
    height: auto;
    padding: 0 0.75rem;
    background-color: $main;
  }
  button {
    color: $black;
    &::after {
      background-color: $biwacha;
    }
    &:hover {
      color: $white;
      border: 2px solid $momoshiocha;
    }
    &:active {
      transform: scale(0.9);
      transition: transform .1s;
    }
  }
  a {
    color: $white;
    border-color: $momoshiocha;
    &::after {
      background-color: #181a1b;
    }
    &:hover {
      color: $black;
      border: 1px solid $black;
      background-color: $biwacha;
    }
    &:active {
      transform: scale(0.9);
      transition: transform .1s;
    }
  }
}

.cart {
  padding: 0 5%;
  border-left: 1px solid $black;
  @include media-breakpoint-down(md) {
    padding: $spacer * 2 0;
  }
  @include media-breakpoint-down(sm) {
    padding: 0;
    padding-top: $spacer;
    border: none;
    border-bottom: 1px solid $rikyunezumi;
  }
  .overflow {
    overflow: auto;
    height: 60vh;
    @include media-breakpoint-down(md) {
      height: 40vh;
    }
  }
  img {
    max-width: 180px;
    width: 100%;
    @include media-breakpoint-down(md) {
      max-width: 120px;
    }
  }
  form {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: $spacer * 2 auto;
    .form-control {
      width: auto;
      border-color: $rikyunezumi;
      color: white;
      border-radius: 0.25rem 0 0 0.25rem ;
      border-right: none;
      transition: all 0.3s;
      &::placeholder {
        color: $label-color;
      }
      &:focus-within {
        border-color: $label-border-color;
        + .btn {
          border-color: $label-border-color;
        }
        &::placeholder {
          color: $white;
        }
      }
      &:hover {
        &::placeholder {
          color: $white;
        }
      }
    }
    .btn {
      color: $label-color;
      border-color: $rikyunezumi;
      border-radius: 0 0.25rem 0.25rem 0;
      &:hover {
          color: $white;
      }
    }
  }
  &-animate {
    animation: flash 4s infinite;
  }
  @keyframes flash {
    0% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    85% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
}

.empty {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  
}
