.forestage-top {
  margin-top: 64px !important;
}

.input-color {
  background-color: #181a1b !important;
  border-color: #363f48;
  color: white !important;
}

.input-color::placeholder {
  color: #bdb6aa;
}

button:focus {
  outline: none;
}

.nav-text {
  transition: background-size 0.4s ease;
  background: linear-gradient(
      to bottom,
      transparent 90%,
      rgba(255, 255, 255, 0.6) 0
    )
    center center/0% 100% no-repeat;
}
.nav-text:hover {
  background-size: 100% 100%;
}

.modal-close {
  width: 35px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.9);
  border-width: 5px;
  border-style: double;
  border-color: #343a40;
  z-index: 101;
}
/*
 * login
 */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type='email'] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type='password'] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*
 * products
 */

.box-shadow {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
.box-shadow:hover {
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.5s;
}
@media (max-width: 575.98px) {
  .mtop {
    margin-top: 1rem;
  }
}
.fadeout {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.fadein:hover .fadeout {
  visibility: visible;
  opacity: 1;
}

.categorie-color {
  background-color: #5a5a5a;
}
.rounded-pill:hover {
  background-color: #5a5a5a;
}

.page-link {
  background-color: rgba(60, 67, 74, 1);
  border: 1.5px solid #808387;
  padding: 0.5rem 0.85rem;
  transition: transform 80ms ease-in;
}

.page-link:hover {
  background-color: rgba(52, 58, 64, 0.5);
}

.page-link:active {
  transform: scale(0.75);
}

.pageColor {
  background-color: rgba(52, 58, 64, 0.5);
}

/*
 * Main
 */

.dropdown-menu {
  font-size: 14px;
  top: 60px;
  border-width: 1px 0 0 0;
}

.card-footer {
  background-color: transparent;
}
@media (min-width: 575.98px) {
  .card-radius-right {
    border-radius: 0 0.25rem 0.25rem 0;
  }
  .card-radius-left {
    border-radius: 0.25rem 0 0.25rem 0;
  }
}
@media (max-width: 767.98px) {
  .ul-mt {
    margin-top: 1rem;
  }
}
.mt-gutter {
  margin-top: 10px;
}

.carousel-bgc-1 {
  background-size: cover;
  background-position: 100% 20%;
  background-image: url(assets/images/main/carousel-1.jpg);
}

.carousel-bgc-2 {
  background-size: cover;
  background-position: center;
  background-image: url(assets/images/main/carousel-2.jpg);
}

.carousel-bgc-3 {
  background-size: cover;
  background-position: 50% 45%;
  background-image: url(assets/images/main/carousel-3.jpg);
}

.card-wrapper {
  overflow: hidden;
  cursor: pointer;
}

.card-img {
  background-position: 50% 70%;
  background-size: cover;
  transition: all 0.35s ease-in-out;
}

.card-img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.card-img-1 {
  height: 250px;
  background-image: url(assets/images/main/card-photo-1.jpg);
}

.card-img-2 {
  height: 250px;
  background-image: url(assets/images/main/card-photo-2.jpg);
}

.card-img-3 {
  height: 250px;
  background-image: url(assets/images/main/card-photo-3.jpg);
}

.jumbotron-1 {
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
  background-position: 50% 60%;
  background-image: url(assets/images/main/jumbotron-1.jpg);
}

.jumbotron-2 {
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
  background-position: 50% 85%;
  background-image: url(assets/images/main/jumbotron-2.jpg);
}

.categories-tops {
  height: 350px;
  background-position: 50% 65%;
  background-image: url(assets/images/main/photo-top.jpg);
}
.categories-coat {
  height: 350px;
  background-position: 50% 75%;
  background-image: url(assets/images/main/photo-coat.jpg);
}
.categories-suit {
  height: 400px;
  background-position: center;
  background-image: url(assets/images/main/photo-suit.jpg);
}
.categories-shoes {
  height: 400px;
  background-position: center;
  background-image: url(assets/images/main/photo-shoes.jpg);
}
.categories-bottoms {
  height: 400px;
  background-position: 50% 60%;
  background-image: url(assets/images/main/photo-bottoms.jpg);
}
.categories-accessories {
  height: 350px;
  background-position: center;
  background-image: url(assets/images/main/photo-accessories.jpg);
}

.stroke {
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black;
}

.card-btn {
  border: 1px solid #724938;
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
  width: 140px;
  height: 40px;
  letter-spacing: 1px;
  background-color: transparent;
  transition: transform 80ms ease, border-radius 0.2s ease, color 0.5s ease,
    background-color 1s ease;
  box-shadow: none;
}

.card-btn:hover {
  color: black;
  border-radius: 20px;
  border-color: black;
  background-color: #724938;
  transition: color 0.5s ease, background-color 1s ease, border-radius 0.2s ease;
}

.card-btn:hover span {
  display: none;
}

.card-btn:active {
  transition: transform 80ms ease-in;
  transform: scale(0.95);
}

.card-text-1:hover:after {
  content: '新品上市';
}
.card-text-2:hover:after {
  content: '熱銷推薦';
}
.card-text-3:hover:after {
  content: '特價商品';
}

.countdown-timer {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  width: 130px;
  height: 195px;
  padding-top: 1em;
  text-transform: uppercase;
}

.countdown-timer span {
  display: block;
  font-size: 4.5rem;
}

.text-opacity {
  transform: scale(0.5);
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.card-wrapper {
  overflow: hidden;
  cursor: pointer;
}

.card-img {
  background-position: 50% 70%;
  background-size: cover;
  transition: all 0.35s ease-in-out;
}

.card-img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.card-categories {
  cursor: pointer;
  overflow: hidden;
}
.card-categories:hover .card-image {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.card-categories:hover .card-background {
  opacity: 1;
  transition: opacity 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.card-categories:hover .card-label {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.card-image {
  background-size: cover;
  transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    -webkit-transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.card-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(rgba(47, 48, 50, 0.2), rgba(47, 48, 50, 0.7));
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.15);
  opacity: 0;
}

.card-label {
  font-size: 2rem;
  font-weight: 300;
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black;
  letter-spacing: 3px;
  transform: scale(0.8);
  transition: opacity 0.14s ease-out, transform 0.24s ease;
  opacity: 1;
}

.coupon-1::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: blur(1px);
  background-size: cover;
  background-position: center;
  background-image: url(assets/images/main/photo-1514064019862-23e2a332a6a6.jpg);
}

.button-border {
  width: 45px;
  height: 45px;
  background: transparent;
  border-radius: 50%;
  border: 1.5px solid #fff;
}

.icon:hover .button-border {
  border-bottom: 1.5px solid #000;
  border-top: 1.5px solid #000;
  animation: Rotate 2s linear;
}
@keyframes Rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-container {
  position: relative;
  width: 45px;
  height: 45px;
}

.button-icon {
  position: absolute;
  font-size: 1.5rem;
}

/*
 * About
 */

.about-1 {
  background-size: cover;
  min-height: 700px;
  background-position: 50% 90%;
  background-image: url(assets/images/about/about.jpg);
}

/*
 * journal
 */

.journal-1 {
  background-size: cover;
  min-height: 700px;
  background-position: 50% 90%;
  background-image: url(assets/images/journal/journal.jpg);
}

/*
 * order
 */

.alert-active {
  background-color: #17361e;
  border-color: #265a33;
  color: #a8eab7;
}
.alert-disable {
  background-color: #191a1b;
  border-color: #262649;
  color: #bab5ab;
}
.card-bg {
  background-color: #181a1b;
}

.js-flash {
  animation: js-flash 4s infinite;
}

@keyframes js-flash {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.card-overflow {
  overflow: hidden;
  height: 60vh;
}

.card-overflow:hover {
  overflow: auto;
}

/*
 * content
 */

.imgSize {
  height: 500px;
  width: 440px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 auto;
}

@media (max-width: 420px) {
  .imgSize {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .imgSize {
    width: 100%;
  }
}

/*
 * GoTop
 */

.scrolltop {
  visibility: visible !important;
  opacity: 1 !important;
}

.gotop {
  position: fixed;
  z-index: 90;
  right: 50px;
  bottom: 30px;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
  text-align: center;
  width: 50px;
  height: 50px;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  animation: morphing 5s infinite;
}

@keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  }
  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
    box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
  }
  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
}
/*
 * Navbar
 */

.logo {
  font-family: 'Playfair Display', Georgia, 'Times New Roman', serif;
  font-size: 2.25rem;
}

.logo:hover {
  text-decoration: none;
}

/* 登入Modal */

.close {
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 1;
  color: #000;
  text-shadow: none;
  opacity: 1;
  pointer-events: all;
  z-index: 101;
  right: 8px;
}

.model-container {
  background-color: #343a40;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 768px;
  min-height: 480px;
  pointer-events: all;
}

.form-container {
  position: absolute;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.model-container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.model-container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.form-show {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
}

.overlay-container {
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.model-container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background-image: url(assets/images/navbar/login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.model-container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.model-container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.login-content {
  font-weight: bolder;
  background: rgba(0, 0, 0, 0.4);
  width: 160px;
  height: 160px;
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.model-container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.register-content {
  font-weight: bolder;
  background: rgba(255, 255, 255, 0.4);
  width: 160px;
  height: 160px;
}

/* 輸入Class */

.input-block {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 8px;
  border: 1px solid #91989f;
  border-radius: 4px;
  transition: 0.3s;
  background-color: #181a1b !important;
  width: 100%;
}

.input-label {
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #724938;
  transition: 0.3s;
}

.input-block input {
  outline: 0;
  border: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #181a1b;
  color: white;
}

.input-block-error {
  border: 1px solid #dc3545;
}

.input-block input::placeholder {
  color: #bdb6aa;
}

.input-block:focus-within {
  border-color: #563f2e;
  border-width: 1px;
}

.input-block:focus-within .input-label {
  color: rgba(140, 117, 105, 0.8);
}

.input-block:focus-within .input-placeholder::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

/* 按鈕class */

.btn-type {
  border-radius: 20px;
  border: 1px solid black;
  font-weight: bold;
  padding: 12px 40px;
  letter-spacing: 1px;
  transition: all 0.5s ease, transform 80ms ease;
  position: relative;
  z-index: 1;
}

.btn-type:active {
  transform: scale(0.9);
  transition: transform 80ms ease;
}

.btn-type2 {
  background-color: #b17844;
}

.btn-type2:after {
  position: absolute;
  border-radius: 19px;
  content: '';
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: #000;
  transition: all 0.3s cubic-bezier(0.42, 0, 1, 1);
}
.btn-type2:hover {
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
}
.btn-type2:hover:after {
  left: 0;
  width: 100%;
}

.btn-type3 {
  background-color: #1a3970;
  color: rgba(255, 255, 255, 0.8);
}
.btn-type3:hover {
  background-color: #234f9f;
  color: white;
}

.register-btn {
  background-color: #f75c2f;
  color: black;
  font-size: 12px;
  padding: 10px 15px;
}

.login-btn {
  background-color: #005caf;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 15px;
}

/*
 * Menubar
 */

.logoShow {
  visibility: visible !important;
  opacity: 1 !important;
}

.logoHide {
  opacity: 0;
  visibility: hidden;
}

/*
 * Footer
 */

.footer-text {
  color: rgba(255, 255, 255, 0.6);
}

.footer-text:hover {
  color: white;
  font-weight: bold;
}
